*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    position: fixed;
    width: 100vw;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
    box-shadow: 1px 1px 3px gray;
    background-color: white;
}

.cart{
    display: flex;
    align-items: center;
    gap:10px;
    border: 1px solid royalblue;
    border-radius: 3px;
    padding: 0.1rem 1rem;
}

.checkDiv{
    font-size: 17px;
    margin-top: 15px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.star{
    color: #7b6f2b;
    font-size: 19px;
}
.checkInp{
    display: flex;
    gap: 10px;
    align-items: center;
}
.inpDiv{
    margin-top: 1rem;
    display: flex;
    align-items: center ;
    gap: 0.4rem;
}
.main{
    display: flex;
    gap: 2rem;
}
.sidebar{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}

.productCard{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    margin-left: 21%;
    padding: 2rem;
    gap: 1rem;
}

.sub-main{
    position: fixed;
    display: flex;
    height: 100vh;
    flex-direction: column;
    width:17%;
    border-right: 1px solid grey;
    align-items: center;
    gap: 0.4rem;
    padding: 1rem;
    margin-top: 4rem;
}
/* .sub-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.rangeInp{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.text{
    opacity: 0.8;
}
.proDiv{
     border: 1px solid royalblue;
     width: 13rem;
     padding: 10px 20px;
     border-radius: 4px;
}
button{
    justify-content: start;
    align-items: start;
    padding: 0.4rem 1rem;
    width: 90%;
    border: 1px solid grey;
    border-radius: 2px;
    cursor: pointer;
}

.btnDiv{
    display: flex;
    gap: 10px;
}

.btnDiv button{
    padding: 0.3rem 1rem;
    border: 1px solid royalblue;
    border-radius: 4px;
    background-color: rgb(113, 172, 245);
    color: white;
}

.prodImg{
    width:10rem;
    padding: 0.7rem;
}

.prodImg img{
    width: 100%;
    height: 10rem;
}


@media screen and (max-width: 800px) {
    body{
        background-color: red;
    }
    .main{
        display: flex;
        flex-direction: column;
        position: initial;
    }

    .sub-main{
        border: none;
        display: flex;
        width: 100%;
    }

    .sidebar{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}